Artist History 
<h2><%= @artist_records.first.artist %> </h2>
<%= bar_chart @artist_records.group(:year).count(:id) %>
<h4> <%= link_to "Return to Collection", records_path %> | <%= link_to "Add New Record", new_record_path %></h4>